.help-search {
    height: 184px;
    background: $blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (max-width: 992px) {
        height: 240px;
    }
}
.help-search__container {}

.help-search__title {
    font-family: 'Gilroy-SemiBold';
    font-size: 32px;
    line-height: 38px;
    color: #fff;
    margin-bottom: 32px;
}

.help-search__form {
    display: flex;
    justify-content: space-between;
    @media (max-width: 992px) {
        flex-direction: column;
    }
}
.help-search__input {
    width: 488px;
    height: 50px;
    padding: 0 24px;
    background: #fff;
    border: 1px solid $light;
    box-sizing: border-box;
    border-radius: 6px;
    @media (max-width: 992px) {
        margin-bottom: 24px;
        width: 100%;
    }
}
.help-search__submit {
    width: 176px;
    height: 50px;
    background: #2B2B65;
    border-radius: 6px;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    @media (max-width: 540px) {
        width: 100%;
    }
    &:hover {
        background: #13142A;
    }
}