.help-answer {
    padding-top: 56px;
    padding-bottom: 100px;
    @media (max-width: 992px) {
        padding-bottom: 80px;
    }
    @media (max-width: 540px) {
        padding-bottom: 60px;
    }
}

.help-answer__title {
    font-family: 'Gilroy-SemiBold';
    font-size: 24px;
    line-height: 29px;
    color: #13142A;
    margin-bottom: 20px;
}

.help-answer__content {
    font-size: 16px;
    line-height: 20px;
    h3 {
        font-family: 'Gilroy-SemiBold';
        font-size: 24px;
        line-height: 29px;
        color: #13142A;
        margin-bottom: 16px;
        &:not(:first-child) {
            margin-top: 32px;
        }
    }
    p {
        max-width: 488px;
    }
    a {
        color: #68688F;
        &:hover {
            color: darken(#68688F, 25%);
        }
    }
    img {
        display: inline-block;
        margin-top: 32px;
        margin-right: 24px;
        max-width: 100%;
        @media (max-width: 992px) {
            margin-top: 24px;
        }
        @media (max-width: 540px) {
            margin-top: 16px;
        }
        &:not(:last-child) {
            margin-bottom: 32px;
        }
        @media (max-width: 992px) {
            margin-bottom: 24px;
        }
        @media (max-width: 540px) {
            margin-bottom: 16px;
        }
    }
    b, strong {
        font-weight: bold;
    }
}