.filtration {
    background-color: $blue;
    padding: 42px 0 0;
    color: #fff;
    & + * {
        margin-top: 130px;
        @media (max-width: 992px) {
            margin-top: 90px;
        }
        @media (max-width: 540px) {
            margin-top: 60px;
        }
    }
}

.filtration__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-right: 110px;
    @media (max-width: 1100px) {
        padding-right: 24px;
    }
    @media (max-width: 992px) {
        flex-direction: column-reverse;
    }
}

.filtration__col {
    &_1 {
        @media (max-width: 992px) {
            margin: 0 auto;
            width: 100vw;
            margin-left: -24px;
        }
    }
    &_2 {
        padding-top: 110px;
        width: 452px;
        max-width: 100%;
        @media (max-width: 1100px) {
            padding-top: 20px;
        }
        @media (max-width: 992px) {
            margin: 0 auto;
        }
    }
}

.filtration__title {
    white-space: nowrap;
    @media (max-width: 992px) {
        text-align: center;
    }
    @media (max-width: 540px) {
        text-align: left;
    }
    @media (max-width: 1100px) {
        white-space: normal;
    }
    & + * {
        margin-top: 30px;
        @media (max-width: 992px) {
            margin-top: 22px;
        }
        @media (max-width: 540px) {
            margin-top: 16px;
        }
    }
}

.filtration__img {
    @media (max-width: 992px) {
        margin-left: 50%;
        max-width: calc(110vw);
        transform: translateX(-50%);
    }
}

.filtration__text {
    font-size: 20px;
    line-height: 26px;
    @media (max-width: 992px) {
        font-size: 18px;
        line-height: 23px;
    }
    @media (max-width: 540px) {
        font-size: 16px;
        line-height: 21px;
    }
    & + * {
        margin-top: 30px;
    }
}

.filtration__btn {
    max-width: 236px;
    padding: 0.94em 2.2em;
    color: $blue;
    @media (max-width: 992px) {
        margin-left: auto;
        margin-right: auto;
    }
    @media (max-width: 540px) {
        max-width: 100%;
    }
}