.main-page {
    & + * {
        margin-top: -131px;
        @media (max-width: 992px) {
            margin-top: 0;
        }
        @media (max-width: 540px) {
            margin-top: 6px;
        }
    }
}

.main-page-img {
    width: 1237px;
    max-width: 100vw;
    height: auto;
    margin-left: 50%;
    transform: translateX(-50%);
}

.main-page-title {
    color: #13142A;
    padding-top: 86px;
    text-align: center;
    @media (max-width: 992px) {
        padding-top: 30px;
    }
    @media (max-width: 540px) {
        padding-top: 16px;
    }
    & + * {
        margin-top: 15px;
        @media (max-width: 992px) {
            margin-top: 16px;
        }
    }
}

.main-page-subtitle {
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: $textColor5;
    @media (max-width: 992px) {
        font-size: 18px;
        line-height: 23px;
    }
    @media (max-width: 540px) {
        font-size: 16px;
        line-height: 21px;
    }
    br {
        @media (max-width: 540px) {
            display: none;
        }   
    }
}

.main-page-button {
    margin: 20px auto 0;
    max-width: 156px;
    & + * {
        @media (max-width: 992px) {
            margin-top: 10px;
        }
        @media (max-width: 540px) {
            margin-top: 20px;
        }
    }
    @media (max-width: 992px) {
        max-width: 250px;
        margin: 24px auto 0;
    }
    @media (max-width: 540px) {
        max-width: 100%;
    }
}