.mobile-menu {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transition: .3s ease-out;
    &.is-active {
        opacity: 1;
        pointer-events: all;
        transition: 0s ease-out;
        .mobile-menu__overlay {
            opacity: 1;
        }
        .mobile-menu__container {
            transform: translateX(0);
        }
    }
}
.mobile-menu__overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(#000000, .4);
    opacity: 0;
    transition: .3s ease-out;
}
.mobile-menu__container {
    background: #fff;
    position: absolute;
    top: 0;
    right: 0;
    width: 257px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 44px 16px;
    box-sizing: border-box;
    z-index: 5;
    transform: translateX(100%);
    transition: .3s ease-out;
}
